:root{
  --green: #23f17e;
  --bg: #2f2e38;
}

html,body{
  background-color: var(--bg);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    display: block;
    background-color: #a0a0a0;
    padding: .5rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  max-width: 90%;
  margin: auto;
  color: white;
}

.app > div{
  width: 100%;
}

.links{
  display: flex;
  justify-content: space-between;
}

a{
  color: var(--green);
  font-weight: bold;
}

.status{
  background-color: black;
  border-radius: 5px;
  padding: .5rem;
  margin: 1rem 0;
  color: var(--green);
  font-family: monospace;
  font-size: .9rem;
  position: relative;
  height: 220px;
  overflow-y: scroll;
}

.status > div{
  word-break: break-all;
}

label{
  display: block;
}

button{
  background: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button{
  border: solid 2px white;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.clear{
  position: absolute;
  top: .5rem;
  right: 1.5rem;
  color: white;
  border: solid 2px;
  border-color: white;
  z-index: 10;
  padding: 5px;
  font-weight: bold;
}